4.2.0-alpha06/com.android.tools/sdklib/com/android/sdklib/repository/sources/sdk-sites-list-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--
    Schema for the list of sites loaded by RemoteListSourceProvider, version 2. Includes addon
    and system image sites. For backward compatibility.

    JAXB-usable classes can be generated from this schema as follows:
    java com.sun.tools.internal.xjc.Driver \
         -p com.android.sdklib.repository.sources.generated.v2 \
         com/android/sdklib/repository/sources/sdk-sites-list-2.xsd \
         -extension -Xandroid-inheritance \
         -b repository/src/main/java/com/android/repository/api/global.xjb \
         -no-header

    with tools.jar, and jaxb-inheritance-plugin.jar on the classpath.
    Note that you can not use the xjc executable, as it does not support 3rd-party plugins.
-->
<xsd:schema
    targetNamespace="http://schemas.android.com/sdk/android/addons-list/2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sa1="http://schemas.android.com/sdk/android/addons-list/2"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:plugin="http://schemas.android.com/android/jaxb/plugin/1"
    jaxb:extensionBindingPrefixes="plugin"
    version="1"
    jaxb:version="2.0">

    <!-- root element for v2 -->
    <xsd:element name="sdk-addons-list" type="sa1:addonsListType" />

    <xsd:complexType name="addonsListType">
        <xsd:annotation>
            <xsd:documentation>
                A simple list of add-on and system image sites.
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.repository.impl.sources.RemoteListSourceProviderImpl$SiteList"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="addon-site" type="sa1:addonSiteType" />
            <xsd:element name="sys-img-site" type="sa1:sysImgSiteType" />
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="addonSiteType">
        <xsd:annotation>
            <xsd:documentation>An SDK add-on site.</xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repository.sources.RemoteSiteType$AddonSiteType"/>
                <plugin:super name="com.android.repository.api.RemoteSource"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:all>
            <!-- The URL of the site.

                This can be either the exact URL of the an XML resource conforming
                to the latest sdk-addon-N.xsd schema, or it can be the URL of a
                'directory', in which case the manager will look for a resource
                named 'addon.xml' at this location.

                Examples:
                    http://www.example.com/android/my_addons.xml
                or
                    http://www.example.com/android/

                In the second example, the manager will actually look for:
                    http://www.example.com/android/addon.xml
            -->
            <xsd:element name="url"  type="xsd:token" />

            <!-- The UI-visible name of the add-on site. -->
            <xsd:element name="name" type="xsd:string" />

        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="sysImgSiteType">
        <xsd:annotation>
            <xsd:documentation>An SDK sys-img site.</xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repository.sources.RemoteSiteType$SysImgSiteType"/>
                <plugin:super name="com.android.repository.api.RemoteSource"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:all>
            <!-- The URL of the site.

                This can be either the exact URL of the an XML resource conforming
                to the latest sdk-sys-img-N.xsd schema, or it can be the URL of a
                'directory', in which case the manager will look for a resource
                named 'sysimg.xml' at this location.

                Examples:
                    http://www.example.com/android/my_sys_img.xml
                or
                    http://www.example.com/android/

                In the second example, the manager will actually look for:
                    http://www.example.com/android/sysimg.xml
            -->
            <xsd:element name="url"  type="xsd:token" />

            <!-- The UI-visible name of the sys-img site. -->
            <xsd:element name="name" type="xsd:string" />

        </xsd:all>
    </xsd:complexType>

</xsd:schema>
