7.0.0-alpha09/com.android.tools/sdklib/xsd/sdk-sys-img-02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--
    Extension to repo-common for system image repositories, containing the sdk-sys-img root element
    and the sys-img typedetails subclass.

    JAXB-usable classes can be generated from this schema by building
    //tools/base/sdklib:sdk-sysimg-2
-->
<xsd:schema
        targetNamespace="http://schemas.android.com/sdk/android/repo/sys-img2/02"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:sdk="http://schemas.android.com/sdk/android/repo/sys-img2/02"
        xmlns:common="http://schemas.android.com/repository/android/common/02"
        xmlns:sdk-common="http://schemas.android.com/sdk/android/repo/common/02"
        elementFormDefault="unqualified"
        attributeFormDefault="unqualified"
        version="1"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:plugin="http://schemas.android.com/android/jaxb/plugin/1"
        jaxb:extensionBindingPrefixes="plugin"
        jaxb:version="2.0">

    <xsd:import namespace="http://schemas.android.com/repository/android/common/02"/>
    <xsd:import namespace="http://schemas.android.com/sdk/android/repo/common/02"/>

    <!-- the root element for system image repositories -->
    <xsd:element name="sdk-sys-img" type="common:repositoryType"/>

    <xsd:annotation>
        <xsd:documentation>
            Customization specifying the superclass of ObjectFactory.
        </xsd:documentation>
        <xsd:appinfo>
            <plugin:super name="com.android.sdklib.repository.meta.SysImgFactory"/>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:complexType name="sysImgDetailsType">
        <xsd:annotation>
            <xsd:documentation>
                type-details subclass including system image-specific information:
                - tag, specifying the device type (tablet, tv, wear, etc.)
                - vendor, the vendor for this system image (android, google, etc.)
                - abi, the architecture for this image (x86, armeabi-v7a, etc.)
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repository.meta.DetailsTypes$SysImgDetailsType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="sdk-common:apiDetailsType">
                <xsd:sequence>
                    <xsd:element name="tag" type="sdk-common:idDisplayType" maxOccurs="unbounded" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <jaxb:property name="tags"/>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vendor" type="sdk-common:idDisplayType" minOccurs="0"/>
                    <xsd:element name="abi" type="sdk:abiType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="abiType">
        <xsd:annotation>
            <xsd:documentation>
                The ABI of a platform's system image.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="armeabi|armeabi-v7a|arm64-v8a|x86|x86_64|mips|mips64"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
