com.android.tools.build/4.2.0-alpha11/com.android.tools/sdklib/27.2.0-alpha11/com/android/sdklib/repository/sources/sdk-sites-list-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--
    Schema for the list of sites loaded by RemoteListSourceProvider.
    This is the first "proper" concrete version of the sites list, being an extension to the
    base list schema provided by repository.

    JAXB-usable classes can be generated from this schema as follows:
    java com.sun.tools.internal.xjc.Driver \
         -catalog <tools/base path>/repository/src/main/java/com/android/repository/api/catalog.xml \
         -p com.android.sdklib.repository.sources.generated.v3 \
         com/android/sdklib/repository/sources/sdk-sites-list-3.xsd \
         -extension -Xandroid-inheritance \
         -b repository/src/main/java/com/android/repository/api/list-common.xjb \
         -b repository/src/main/java/com/android/repository/api/global.xjb \
         -no-header

    with tools.jar and jaxb-inheritance-plugin.jar on the classpath.
    Note that you cannot use the xjc executable, as it does not support 3rd-party plugins.
-->
<xsd:schema
        targetNamespace="http://schemas.android.com/sdk/android/addons-list/3"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:sl="http://schemas.android.com/sdk/android/addons-list/3"
        xmlns:common="http://schemas.android.com/repository/android/sites-common/1"
        elementFormDefault="unqualified"
        attributeFormDefault="unqualified"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:plugin="http://schemas.android.com/android/jaxb/plugin/1"
        jaxb:extensionBindingPrefixes="plugin"
        version="1"
        jaxb:version="2.0">

    <xsd:import namespace="http://schemas.android.com/repository/android/sites-common/1"/>

    <xsd:element name="sdk-addons-list" type="common:siteListType" />

    <xsd:complexType name="addonSiteType">
        <xsd:annotation>
            <xsd:documentation>
                Trivial siteType extension specifying that this is a addon site
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repository.sources.RemoteSiteType$AddonSiteType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:siteType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="sysImgSiteType">
        <xsd:annotation>
            <xsd:documentation>
                Trivial siteType extension specifying that this is a system image site
            </xsd:documentation>
            <xsd:appinfo>
                <plugin:super name="com.android.sdklib.repository.sources.RemoteSiteType$SysImgSiteType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:siteType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
